:root{
  /* Colors */
  --light-blue: #31c3bd;
  --light-blue-hover: #65e9e4;
  --light-yellow: #f2b137;
  --light-yellow-hover: #ffc860;
  --dark-navy: #1a2a33;
  --semi-dark-navy: #1f3641;
  --silver: #a8bfc9;
  --silver-hover: #dbe8ed;
  --button-1-shadow: #CC8B13;
  --button-2-shadow: #118C87;
  --player-selector: #d9d9d9;
  --playbox-shadow: #10212A;
  --grey-shadow: #6B8997;


  --default-font: font-family: 'Outfit', sans-serif;

}

body {
  font-family: sans-serif;
  text-align: center;
  background-color: #1a2a33; 
  
}

.board {
  margin: auto;
  width: 450px;
  height: 450px;
}

.cell {
  border-radius: 10px;
  background-color: #1f3641;
}

.board button {
  height: 30%;
  width: 30%;
  margin: 0px;
  padding: 0px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 4em;
}

#chat-container {
  width: 70%;
  height: 70vh;
  border: 1px solid #118C87;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  overflow: overlay;
  background-color: #1a2a33;
  margin: 10px;
}

#chat-window {
  border-bottom: 1px solid #1f3641;
}

#messages {
  margin-top: 0px;
  margin-bottom: 10px;
  color: white;
}
#output p {
  color: #1a2a33;
  padding: 14px 0;
  margin: 0 20px;
}

#actions p {
  padding: 14px 0;
  margin: 0 20px;
  border-bottom: 1px solid #118C87;
  color: #555;
}

input {
  padding: 10px 20px;
  box-sizing: border-box;
  border: 10px;
  background: #1a2a33;

}

button {
  letter-spacing: 0.0781rem;
    font-size: 1rem;
    text-align: center;
    font-family: var(--default-font);
    color: #f2b137;
    font-weight: 700;
    width: 327px;
    height: 56px;
    background-color: var(--light-blue);
    box-shadow: 0 8px 0 0 var(--playbox-shadow);
    border-radius: 15px;
    border: none;
}

button:disabled {
  background-color: #1f3641;
  color: #f2b137;
}

.left {
  float: left;
  clear: both;
}
.right {
  float: right;
  clear: both;
}

.msg_border {
  border: 0.5px solid black;
  border-radius: 10px;
  border-bottom-width: 3px;
}

.flex {
  display: flex;
}

.width50 {
  margin: 30px;
  width: 50%;
}

.mybtn {
  border-radius: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  letter-spacing: 0.0781rem;
    font-size: 1rem;
    text-align: center;
    font-family: var(--default-font);
    color: black;
    font-weight: 700;
    width: 327px;
    height: 56px;
    background-color: #f2b137;
    box-shadow: inset 0 -0.5rem 0 0 var(--button-1-shadow);
    border-radius: 15px;
    border: none;
}
.mybtn:hover{
  background-color: var(--light-yellow-hover);
  cursor: pointer;
}
#chatbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#message {
  width: 70%;
  border-radius: 10px;
  background-color: #dcdcdc;
  font-size: medium;
}

#send {
  width: 30%;
  color: black;
  background-color: #31c3bd;
  box-shadow: inset 0 -0.5rem 0 0 var(--button-2-shadow);
  border: none;
  border-radius: 10px;
  margin: 5px;
}
#send:hover{
  background-color: var(--light-blue-hover);
  cursor: pointer;
}

.inputsend {
  width: 70%;
  display: flex;
  bottom: 0;
}

.pad {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

input::placeholder {
  font-size: medium;
}

@media only screen and (max-width: 820px) {
  .flex {
    flex-direction: column;
  }

  .board {
    margin: auto;
    width: 100vw;
    height: 450px;
  }

  #chatbox {
    width: 95vw;
  }

  .width50 {
    margin: 5px;
  }

  .cell {
    border-radius: 30px;
  }

  .inputsend {
    width: 90vw;
  }

  .mob {
    width: 100vw;
  }

  #chat-container {
    height: 30vh;
    width: 90vw;
    overflow: overlay;
    overflow-y: scroll;
    border-radius: 20px;
  }
}
